@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ************************ ALL ************************ */
a{
    text-decoration: none;
    color: inherit;
    transition: .5s;
}
a:hover{
    opacity: .6;
}
ul{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
p{
    line-height: 1.5em;
}
article{
    position: relative;
    padding: 20px;
}
article a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article h2{
    font-family: 'Fira Code', monospace;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
/* ************ header ************ */
header{
    padding: 40px 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin: 0 5vw;
    position: relative;
}
header ul li a.active:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -48px;
    display: inline-block;
    width: 50px;
    height: 2px;
    transform: translate(-50%);
    background-color: #000000;
}
/* ************ footer ************ */
footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 20px 5vw 100px;
    overflow: hidden;
}
footer h3{
    position: absolute;
    top: 20px;
    left: 50%;
    font-family: 'Fira Code', monospace;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
    transform-origin: center top;
    transform: translateX(-50%);
}
footer h3 span{
    font-weight: 400;
}
footer img{
    width: auto;
    margin: 100px auto 50px;
}
footer p{
    max-width: 500px;
    margin: 0 auto 50px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
footer ul li{
    margin: 0 20px;
}
footer .copy{
    font-size: 0.8em;
}

/* ************************ REPEAT ************************ */
.three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10vw;
}
.eye{
    border-top: 2px solid #000000;
    position: relative;
    padding: 100px 0 30px;
}
.eye img{
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eye h3{
    text-align: center;
    font-size: 3em;
}

/* ************************ index ************************ */
#index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 50px auto;
}
#index article:first-of-type{
    padding: 0;
    grid-column: span 2;
    margin-bottom: 200px;
}
#index article:first-of-type h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 50px;
}
#index article:first-of-type h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;
    display: inline-block;
    width: 40vw;
    height: 2px;
    transform: translate(-50%);
    background-color: #000000;
}
#index article:first-of-type::after{
    content: "All articles";
    position: absolute;
    left: 50%;
    bottom: -150px;
    display: inline-block;
    transform: translate(-50%);
    font-size: 2em;
    font-weight: 700;
}

/* ************************ new ************************ */
#new{
    margin: 100px 0;
}
#new>h2{
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    position: relative;
    margin-bottom: 50px;
}
#new>h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    display: inline-block;
    width: 100px;
    height: 4px;
    border-radius: 4px;
    transform: translate(-50%);
    background-color: #000000;
}
#new form{
    width: 80%;
    margin: 0 auto 100px;
}
#new form input, #new form textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
#new form input::placeholder, #new form textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}
#new form input:last-of-type{
    background: #000000;
    color: #ffffff;
}

/* ************************ article ************************ */
#article>h2{
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
    font-size: 3em;
}
#article #content{
    width: 60%;
    margin: 20px auto 200px;
    border-top: 2px solid #000000;
}
#article #content .autor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
#article #content .autor>img{
    width: 100px;
    border-radius: 50%;
    filter: grayscale(100%);
}
#article #content .autor div{
    flex-grow: 1;
    margin: 0 30px;
}
#article #content .autor a{
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
#article #content .autor a img{
    width: 30px;
}


/* ************************ media query ************************ */
@media screen and (max-width: 1023px) {
    header nav{
        position: fixed;
        top: 0;
        right: -305px;
        z-index: 9999999;
        background: #00000099;
        height: 100vh;
        width: 300px;
        transition: .5s;
    }
    header ul{
        position: absolute;
        top: 0;
        right: 0;
        flex-flow: column;
        width: 300px;
        height: 100vh;
        background: #E5E5E5;
    }
    header ul li{
        margin: 10vh 0;
    }
    header ul li a.active:before{
        bottom: -5px;
    }
    #index{
        display: block;
        width: 100%;
    }
    #index article:first-of-type h2::after{
        width: 100%;
    }
    .three{
        display: block;
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    #index article:first-of-type h2{
        font-size: 2em;
    }
    #article #content{
        width: 94%;
    }
    #article>h2{
        font-size: 2em;
    }
}
@media screen and (max-width: 480px) {
    header img{
        width: 70%;
    }
    .eye h3{
        font-size: 2em;
    }
}